body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 8, 58);
    color: white;
    margin: 0 !important;
}

.cont{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header img{
    margin-top: 0;
    width: 100vw;
    height: auto;
}
#header{
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}	


.article img {
    width: 100%;
    height: auto;
}
.article {
    width: 30%;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.article:hover{
    transform: scale(1.1);
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.noShow{
    display: none;
}

.content{
    width: 100%;
    height: auto;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wide {
    width: 100%;
    z-index: 1;
}