body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 8, 58);
    color: white;
    margin: 0;
}

.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header img{
    margin-top: 0;
    width: 100vw;
    height: auto;
}
#header{
    width: 100%;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
}	
#txt-input{
    border: 1px solid black;
    position: absolute;
    bottom: 50%;
    right: 21%;
    z-index: 1;
}

.article img {
    width: 100%;
    height: auto;
}
.article {
    width: 30%;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.article:hover{
    transform: scale(1.1);
}

.layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}